body {
    text-align: center;
    color: black;
    background-color: rgb(136, 173, 128);

}

.nav{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.btn-lg, btn-outline-success {
    padding: 60px 120px;
    font-size: 64px;
    background-color: rgb(117, 156, 107);
    display: table-column;
}