{% extends 'base.html' %}
{% block content %}
    <div class="menu">
        
        <div class="d-grid gap-2 col-6 mx-auto mt-4">  
            {% if user.is_authenticated %}
                <a href="{% url 'snake' %}"><button type="button" class="btn-lg btn-outline-success">Play</button></a>
            {% else %}
                <a href="{% url 'logIn_required' %}"><button type="button" class="btn-lg btn-outline-success">Play</button></a>
            {% endif %}
        </div>
        <div class="d-grid gap-2 col-6 mx-auto mt-4">
            <a href="{% url 'settings' %}"><button type="button" class="btn-lg btn-outline-success" >Settings</button></a>
        </div>
    </div>
    


{% endblock content %}