body {
    text-align: center;
    background-color: rgb(136, 173, 128);
}

.text-end{  
    height: 100px;
    
}

.homeNav{
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}

.logo{ 
    a{
        text-decoration: none;
        color: rgb(48, 98, 18);
    }
    h1{
        font-weight: 800;
    }
    text-align: center;
    font-size: 72px;

}


.btn-lg, btn-outline-success {
    width: 100%;
    font-size: 64px;
    padding: 20px;
    background-color: rgb(117, 156, 107);
    display: table-column;
    font-weight: 400;

}

.form-control{
    margin-left: auto;
    margin-right: auto;    
    text-align: center;
}

.menu{
    a{
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.settings {
    h1{
        color:rgb(20, 41, 15)
    }
}

.alert-secondary{ 
    background-color: rgb(117, 156, 107);
    color: rgb(48, 98, 18);
    font-size: 36px;
}
